/* .section_padding {
  padding: 2rem 6rem;
} */

.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background: rgba(0, 4, 15, 1);
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
}

.app_bg {
  max-width: 1556px;
  margin: 0 auto;
}

.custom_button {
  background: linear-gradient(157.81deg, #DEF9FA -43.27%, #BEF3F5 -21.24%, #9DEDF0 12.19%, #7DE7EB 29.82%, #5CE1E6 51.94%, #33BBCF 90.29%);

  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  letter-spacing: 0.04em;
  /* line-height: 28px; */
  font-size: 14px;
  padding: 1rem 1.8rem;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
}

.border-2 {
  border-width: 2px;
  border-style: solid;
  border-color: blue;
}

.p_poppins {
  font-family: "Poppins", sans-serif;
  color: #fff;
  letter-spacing: 0.04em;
  line-height: 24px;
  font-size: 16px;
  max-width: 560px;
}

h1,
h4,
h3 {
  font-family: "Poppins", sans-serif;
  color: #fff;
}

p {
  font-family: "Poppins", sans-serif;
  color: rgba(255, 255, 255, 0.7);
  font-size: 14 px;


}

/* .h1_poppins { */
/* font-family: "Poppins", sans-serif; */
/* line-height: 24px; */
/* max-width: 620px; */
/* } */


@media screen and (min-width: 1550px) {}

@media screen and (max-width: 1250px) {}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 450px) {}